{% if cfn_lint_test %}


{% include 'cfn_lint_test_func_block.py' %}
{% endif %}
{% if checkov_test %}


{% include 'checkov_test_func_block.py' %}
{% endif %}
{% if json_validation_test %}


{% include 'json_validator_obj_block.py' %}
{% endif %}

{% if json_structure_test %}


{% include 'json_structure_obj_block.py' %}



JSONStructure = JSONStructure(JSONValidator)
{% endif %}
{% if cfn_structure_test %}


{% include 'cfn_structure_obj_block.py' %}



CFNStructure = CFNStructure(JSONValidator)
{% endif %}
{% for casename, case, type in cases %}



# ***********{{'*' * casename|length}}**
# * TESTCASE {{casename}} *
# ***********{{'*' * casename|length}}**
{% if type == 'cf' %}
{% include 'cfn_testcase_block.py.tmpl' %}
{% endif %}
{% endfor %}
