def test_{{casename}}():
    filename = "{{case.filename}}"
    {% if not case.no_lint %}

    lint_test(filename)
    {% endif %}
    {% if case.structure %}

    structure = structure_test(filename)
    {% if case.structure.exists %}

    {% for path in case.structure.exists %}
    structure.exists("{{path}}")
    {% endfor %}
    {% endif %}
    {% if case.structure.match %}

    {% for path, value in case.structure.match %}
    structure.match("{{path}}", {{value}})
    {% endfor %}
    {% endif %}
    {% if case.structure.resource %}

    {% for name, type in case.structure.resource %}
    structure.resource("{{name}}", "{{type}}")
    {% endfor %}
    {% endif %}
    {% if case.structure.output %}

    {% for name in case.structure.output %}
    structure.output("{{name}}")
    {% endfor %}
    {% endif %}
    {% if case.structure.not_empty %}

    {% for path in case.structure.not_empty %}
    structure.not_empty("{{path}}")
    {% endfor %}
    {% endif %}
    {% if case.structure.length %}

    {% for path, value in case.structure.length %}
    structure.len("{{path}}", {{value}})
    {% endfor %}
    {% endif %}

    structure.assert_structure()
    {% endif %}
    {% if not case.no_vulnerability_check %}

    vulnerability_test(filename)
    {% endif %}
