# ***********{{'*' * name|length}}**
# * TESTCASE {{name}} *
# ***********{{'*' * name|length}}**
def test_{{name}}():
    {% if not no_lint %}
    {% filter indent(4, True) %}
    {% include 'cf_test_lint_block.py.tmpl' %}
    {% endfilter %}


    test_lint()
    {% endif %}
    {% if (exists or match or resource or output or length or not_empty) %}

    {% filter indent(4, True) %}
    {% include 'cf_test_structure_block.py.tmpl' %}
    {% endfilter %}

    test_structure()
    {% endif %}
    {% if not no_vulnerability_check %}

    {% filter indent(4, True) %}
    {% include 'cf_test_vulnerability_block.py.tmpl' %}
    {% endfilter %}


    test_vulnerability()
    {% endif %}
